*.pyc
__pycache__
vitrix_engine.egg-info
vitrix_engine/**/__pycache__
dist
/build
webgl
todo

video_temp
*/unused/*
samples/wip
vitrix_engine/shaders/wip
promo/
samples/models*
samples/textures*
samples/scenes*
samples/textures_compressed*
samples/city_builder*
*blob_animation*
program.prof

**/*~
**/*.swp
**/.vscode
